# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
__pycache__/
/.esphome/
**/.pioenvs/
**/.piolibdeps/
**/lib/
**/src/
**/platformio.ini
**/partitions.csv
.cache/*
.build/*
/secrets.yaml
.claude/
.env
sunrise_validation_*.jsonl
opengarage-*-backup.json
opengarage-flash-backup-*.bin

# These symlinked from another repo
airgradient-one.yml
airgradient-open-air-o-1pst.yml
