---
extends: default

rules:
  new-line-at-end-of-file: enable
  comments-indentation: enable
  empty-lines: enable

  braces:
    max-spaces-inside: 1
  brackets:
    max-spaces-inside: 1
  line-length:
    max: 120

  trailing-spaces: enable
  truthy:
    check-keys: false
  comments:
    require-starting-space: true
    min-spaces-from-content: 1
  document-start: enable

  indentation: disable

  float-values:
    require-numeral-before-decimal: true
    forbid-scientific-notation: true
    forbid-nan: true
    forbid-inf: true

ignore: |
  .esphome/
  .venv/
  __pycache__/
  secrets.yaml
  common/secrets.yaml
